    <nav class="nav-bar">
        <h1>Home</h1>
        <ul class="nav-options">
            <li><a href="/">Welcome</a></li>
            <li><a href="/auth/register">Register</a></li>
            <li><a href="/auth/login">Login</a></li>
        </ul>
    </nav>

    <div class="container">
        <div class="userForm" id="userLoginForm">

            <h1 class="title" id="titleLogin">LOGIN</h1>

            <form class="form">
                <input type="email" name="email" class="userInput" placeholder="Email@example.com" required>
                <p class="return-message"></p>
                <input type="password" name="password" class="userInput" placeholder="Ppassword" required>
                <p class="return-message"></p>
                <div class="btn-holder">
                    <Button class="inputBtn" type="submit">Login</Button>
                    <Button class="inputBtn" type="reset">Cancel</Button>
                </div>
                <p>You don't have an account? </p><a href="/auth/register">Register</a>
            </form>
        </div>
    </div>
    <script src="/login.js"></script>