    <nav class="nav-bar">
        <h1>Home</h1>
        <ul class="nav-options">
            <li><a href="/">Welcome</a></li>
            <li><a href="/auth/register">Register</a></li>
            <li><a href="/auth/login">Login</a></li>
        </ul>
    </nav>

    <div class="container">
        <div class="userForm" id="userRegisterForm">            
            <h1 class="title" id="titleRegister">REGISTER</h1>
            <div id="registration-status"></div>
            <form class="form" onreset="onReset()">
                <input type="text" name="firstName" class="userInput" placeholder="First name" required>
                <p class="return-message"></p>
                <input type="text" name="lastName" class="userInput" placeholder="Last name" required>
                <p class="return-message"></p>
                <label >Gender</label>
                <label >Male</label>
                <input type="radio" value="male" name="gender" class="userInputRadio" required>
                <label >Female</label>
                <input type="radio" value="female" name="gender" class="userInputRadio" required>

                <input type="email" name="email" class="userInput" placeholder="Email@example.com" required>
                <p class="return-message"></p>
                <input type="password" name="password" class="userInput" placeholder="Password" required>
                <p class="return-message"></p>
                <input type="password" name="passwordRepeat" class="userInput" placeholder="Reenter your password" required>
                <p class="return-message"></p>
                <div class="btn-holder">
                    <Button class="inputBtn" type="submit">Register</Button>
                    <Button class="inputBtn" type="reset">Cancel</Button>
                </div>
                <div class="login-link"><p>already have an account? </p><a href="/auth/login" >Login</a></div>
            </form>
        </div>
    </div>
    <script src="/register.js"></script>