    <nav class="nav-bar">
        <h1>Home</h1>
        <ul class="nav-options">
            <li><a href="/">Welcome</a></li>
            <li><a href="/auth/register">Register</a></li>
            <li><a href="/auth/login">Login</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="userForm">
            <h1 class="title">Welcome Eyuel Dejene</h1>
        </div>
    </div>