    <nav class="nav-bar">
        <h1>Home</h1>
        <ul class="nav-options">
            <%- include('links/welcome') %>
            <%- include('links/register') %>
            <%- include('links/login') %>
        </ul>
    </nav>
    <div class="container">
        <div class="userForm">
            <h1 class="title">Welcome Eyuel Dejene</h1>
        </div>
    </div>